---
import Layout from "@layouts/Layout.astro";
import IndexPage from "@components/pages/IndexPage.astro";
import ConnectionsList from "@components/pages/ConnectionsList.astro";
import ConnectionItem from "@components/pages/ConnectionItem.astro";
import SignIn from "@components/pages/SignIn.astro";
import SignUpSoon from "@components/pages/SignUpSoon.astro";
import SignUp from "@components/pages/SignUp.astro";
import RestorePassword from "@components/pages/RestorePassword.astro";
import ForgotPassword from "@components/pages/ForgotPassword.astro";
import CreateConnection from "@components/pages/CreateConnection.astro";
import NotFound from "@components/pages/NotFound.astro";
import { Route } from "mee-components";
---

<Layout title="Welcome to Mee">
  <div id="route-content"></div>
  <Route id="index" route="" withoutDarkTheme={true}><IndexPage /></Route>
  <Route id="connections" route="connections" withoutDarkTheme={true}
    ><ConnectionsList /></Route
  >
  <Route
    id="connections-item"
    route="^connections\/(\\d*)\\/?$"
    regexRoute={true}
    params={["connection-id"]}
    withoutDarkTheme={true}><ConnectionItem /></Route
  >
  <Route id="sign-up" route="sign-up" withoutDarkTheme={true}><SignUp /></Route>
  <Route id="sign-in" route="sign-in" withoutDarkTheme={true}><SignIn /></Route>
  <Route id="sign-up-soon" route="sign-up-soon" withoutDarkTheme={true}><SignUpSoon /></Route>
  <Route id="restore-password" route="restore-password" withoutDarkTheme={true}
    ><RestorePassword /></Route
  >
  <Route id="forgot-password" route="forgot-password" withoutDarkTheme={true}
    ><ForgotPassword /></Route
  >
  <Route
    id="create-connection"
    route="create-connection"
    withoutDarkTheme={true}><CreateConnection /></Route
  >
  <Route id="not-found" route="404" withoutDarkTheme={true}><NotFound /></Route>
</Layout>
<script>
  import { HashRouter } from "mee-components";
  HashRouter.initRouter();
</script>
